---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Manifesto from '../components/Manifesto.astro';
import Services from '../components/Services.astro';
import MarqueeBand from '../components/MarqueeBand.astro';
import Process from '../components/Process.astro';
import Portfolio from '../components/Portfolio.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <Manifesto />
    <Services />
    <MarqueeBand />
    <Process />
    <Portfolio />
    <Contact />
  </main>
  <Footer />
</Layout>

<script>
  import '../scripts/gsap-init';
  import '../scripts/scroll-animations';
  import '../scripts/custom-cursor';
</script>
